@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Job Search</h2>
    <p class="lead">Search by </p>
    <p><a href="http://jccc.edu/" class="btn btn-primary btn-lg">Advance Filter &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Job Shadowing</h2>
        <p>
            Do you wonder what it's like to work in your career field of choice?  
            The JCCC Job Shadowing program provides exposure into a career of a student's interest. Students gain first-hand, real-world knowledge of a possible career path by engaging in career exploration.
        </p>
        <p><a class="btn btn-default" href="http://jccc.edu/student-resources/counseling/career/job-shadow.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Internships</h2>
        <p>JCCC provides resources and support services for students and alumni in search of an internship.</p>
        <p><a class="btn btn-default" href="http://jccc.edu/student-resources/counseling/career/jobs-internships.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Career Development Center</h2>
        <p>Learn what it takes to become successful in your career.  Our Career Development Center will assist you with the job search process through job listings, internship assistance, mock interviews, resume critiques, and more.
</p>
        <p><a class="btn btn-default" href="http://jccc.edu/student-resources/counseling/career/index.html">Learn more &raquo;</a></p>
    </div>
</div>